.about-me{
    padding: 2rem 0;
}
.about-me p, .about-me ul{ 
    font-size: 1.2rem;
    line-height: 2;
    word-spacing: 2.5px;
}
.about-me-article {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.about-me-article .introduction{
    margin-right: 10rem ;
}
.introduction ul{
    padding: 0;
    display: block;
    list-style-type:circle;
}
.introduction ul li{
    display: block;
   
}
.personal-info p{
    margin: 0;
}

.skill-logo{
    width: 100px;
}