.about-me{
    padding: 2rem 0;
}
.about-me p, .about-me ul{ 
    font-size: 1.2rem;
    line-height: 2.2;
    word-spacing: 2.5px;
}
.about-me-article {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.about-me-article .introduction{
    margin-right: 10rem ;
}
.skill-logo{
    width: 100px;
}
.skills-container{
    background-color: rgb(53 51 51 / 64%);
    border-radius: 10px;
}